%visually-hidden,
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.anchor {
    visibility: hidden;
    position: relative;
    top: -(var(--fix-head) + 1rem);
    display: block;

    @include media-query('md') {
        top: -(var(--fix-head-lrg) + 1rem);
    }
}
