.wrapper {
  //max-width: map-get($metrics, 'wrap-max-width');
  //margin-left: auto;
  //margin-right: auto;
  padding-left: gutter(12);
  padding-right: gutter(12);
}

.copy {
    max-width: map-get($metrics, 'wrap-max-width');
    overflow: hidden;
}