{% if page.url == '/' %}
<div class="header-container wrapper" id="headCont">
    <header class="nav-container copy" role="banner">
        <h1 class="header-logo" title="{{ site.name }}"><a href="#top"><img src="/images/logos/logotype-top.svg" alt="Logotype for {{ site.name }}"></a></h1>

        <nav class="main-nav">
            <button class="button small yellow" id="contactUs1" title="Open Contact form" aria-haspopup="true" aria-controls="contactModal" aria-expanded="false">
                Get in Touch
            </button>
        </nav>
    </header>
</div>
{% endif %}
<a href="#top" class="anchor"></a>
