<div class="wrapper copy">
    <section class="home-grid">
        <h2 class="sec-title hg__full">What our clients have to say</h2>
        <div class="qt-holder">
            <div class="qt-outer">
                <div class="quote">
                    <p class="reg-para">The program has been instrumental in molding me into a leader who is intentional about actively seeking opportunities to create value and has had a positive impact on myself, my team and my company</p>
                </div>
                <div class="qt-details">
                    <div class="qt-headshot"><img src="/images/svgs/headshot.svg" alt=""></div>
                    <div class="qt-details-text">
                        <div class="qt-name">Senior Marketing Executive</div>
                        <div class="qt-role">Centum Investment Company Plc</div>
                    </div>
                </div>
            </div>
            <div class="qt-outer">
                <div class="quote">
                    <p class="reg-para">I am beginning to see and understand how the cogs and wheels of a business come together depending on value drivers. I am more empathetic to business leaders as I now understand the weight of their decisions. I am also now aware of my strengths, work preferences and areas of growth</p>
                </div>
                <div class="qt-details">
                    <div class="qt-headshot"><img src="/images/svgs/headshot.svg" alt=""></div>
                    <div class="qt-details-text">
                        <div class="qt-name">HR Business Partner</div>
                        <div class="qt-role">Cellulant</div>
                    </div>
                </div>
            </div>
            <div class="qt-outer">
                <div class="quote">
                    <p class="reg-para">It has changed me from leading by default to leading with the help of a set of tools and practices that have been tried and tested</p>
                </div>
                <div class="qt-details">
                    <div class="qt-headshot"><img src="/images/svgs/headshot.svg" alt=""></div>
                    <div class="qt-details-text">
                        <div class="qt-name">Service Operations Manager</div>
                        <div class="qt-role">Cellulant</div>
                    </div>
                </div>
            </div>
            <div class="qt-outer">
                <div class="quote">
                    <p class="reg-para">My attitude and my mindset toward self-leadership first, and leading in all ways have changed. I am pushing myself now to do new and hard things and to take responsibility and ownership for what happens in my environment</p>
                </div>
                <div class="qt-details">
                    <div class="qt-headshot"><img src="/images/svgs/headshot.svg" alt=""></div>
                    <div class="qt-details-text">
                        <div class="qt-name">Actuarial Analyst</div>
                        <div class="qt-role">ICEA Lion General Insurance</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-grid">
        <h2 class="sec-title hg__full">The AL Group</h2>
        <h3 class="subsec-title hg__full">Developing leaders to transform Africa</h3>
        <div class="copy hg__full innersection">
            <p class="reg-para">The African Leadership Group (AL Group) is an ecosystem of institutions sharing a common vision: to transform Africa by developing, connecting, and engaging a new generation of ethical, entrepreneurial leaders. The AL Group includes ALX, the <a href="http://www.africanleadershipacademy.org/" target="_blank">African Leadership Academy</a>, <a href="http://www.alueducation.com" target="_blank">African Leadership University</a>, the <a href="https://www.alusb.com/" target="_blank">ALU School of Business</a>, <a href="https://www.africanleadershipnetwork.com/" target="_blank">African Leadership Network</a>, <a href="https://www.alx.app/" target="_blank">ALX</a> and more.</p>
            <p class="reg-para"><a href="https://algroup.org" target="_blank">Learn more about the AL Group</a></p>
        </div>
        <div class="logo-grid grid-4 innersection">
            <div class="lg__item"><a href="http://www.africanleadershipacademy.org/" title="African Leadership Academy"><img src="/images/logos/alg/ala.png" alt=""></a></div>
            <div class="lg__item"><a href="http://www.alueducation.com" title="African Leadership University"><img src="/images/logos/alg/alu_logo_original.png" alt=""></a></div>
            <div class="lg__item"><a href="https://www.alusb.com/" title="ALU School of Business"><img src="/images/logos/alg/ALU-School-of-Business-Logo.png" alt=""></a></div>
            <div class="lg__item"><a href="https://www.africanleadershipnetwork.com/" target="_blank" title="African Leadership Network"><img src="/images/logos/alg/ALN-logo-transparent.webp" alt=""></a></div>
        </div>
    </section>
</div>