:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{get-color('light')};
  --color-bg-glare: #{get-color('light')};
  --color-text: #{get-color('xl-navy')};
  --color-text-glare: #{get-color('xl-navy')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('xl-navy')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('xl-gold')};
  --color-action-text: #{get-color('xl-navy')};
  --color-theme-primary: #{get-color('xl-navy')};
  --color-theme-primary-glare: #{get-color('xl-navy')};
  --color-theme-highlight: #{get-color('xl-gold')};
  --color-theme-highlight-block: #{get-color('xl-gold')};
  --color-theme-cuts: #{get-color('xl-gold')};
    
    --color-ds-theme-primary: #{get-color('ds-dkblue')};
    
    // Set heights
    --fix-head: 3rem;
    --fix-head-lrg: 4rem;
    
    --max-width: 105rem;
    
    --btn-over: 0.3s ease-out;
    --btn-off: 0.15s ease-in;
    --modal-in: 0.4s ease-out;
}

/* @include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-glare: #{get-color('slate')};
  --color-text: #{get-color('light')};
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};
  --color-stroke: #{get-color('slate')};
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('dark')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('slate')};
  --color-theme-feature-text: #{get-color('highlight')};
} */

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

main {
  overflow: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}
