@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria.woff2') format('woff2'),
       url('/fonts/geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria-bold.woff2') format('woff2'),
       url('/fonts/geometria-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria-extrabold.woff2') format('woff2'),
       url('/fonts/geometria-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
    font-display: swap;
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
