@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Pull in the susy lib
@import '../../node_modules/susy/sass/susy';

// Local mixins
@import 'mixins/dark-mode';

@import 'theme';

// Local dependencies
@import 'typography';

// Susy Grid setup   
$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.5,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

@import 'layouts';

/**
 * GLOBAL STYLES
 */
html, body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

// JS Responsive Beacons
.visible--only-sm {
    @include media-query('base-max') {
        display: none !important;
    }
    @include media-query('sm1') {
        display: none !important;
    }
}

.visible--only-sm1 {
    @include media-query('sm-max') {
        display: none !important;
    }
    @include media-query('md') {
        display: none !important;
    }
}

.visible--only-md {
    @include media-query('sm1-max') {
        display: none !important;
    }
    @include media-query('lg') {
        display: none !important;
    }
}

.visible--only-md-lg {
    display: none;

    @include media-query('md-lg') {
        display: block;
    }
}

.visible--only-lg {
    @include media-query('md-max') {
        display: none !important;
    }
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/home';
@import 'components/button';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
@import 'components/hsform';
